node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.production
.DS_Store
*.log

# Generated artifacts
coverage/
db/
docs/
scripts/
recovered_*
android.os.Looper
com.facebook.react.uimanager.ViewManagerPropertyUpdater$FallbackViewManagerSetter
com.facebook.react.uimanager.ViewManagersPropertyCache$PropSetter
.vercel
